[submodule "vendor/GraphBLAS"]
	path = vendor/GraphBLAS
	url = https://github.com/DrTimothyAldenDavis/GraphBLAS
	ignore = untracked
[submodule "vendor/LAGraph"]
	path = vendor/LAGraph
	url = https://github.com/GraphBLAS/LAGraph
	ignore = untracked
[submodule "vendor/spla"]
	path = vendor/spla
	url = https://github.com/SparseLinearAlgebra/spla
	ignore = all
