[submodule "vendor/GraphBLAS"]
	path = vendor/GraphBLAS
	url = git@github.com:DrTimothyAldenDavis/GraphBLAS.git
	ignore = untracked
[submodule "vendor/LAGraph"]
	path = vendor/LAGraph
	url = git@github.com:GraphBLAS/LAGraph.git
	ignore = untracked
[submodule "vendor/spla"]
	path = vendor/spla
	url = git@github.com:SparseLinearAlgebra/spla.git
	ignore = all
